@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

.title {
  background-color: rgba(31, 81, 40, 0.1); /*#1E5128 in rgb*/
  font-size: 2.4rem;
  font-family: "Aldrich", sans-serif;
  color: #d8e9a8;
}

.titleFinal {
  display: flex;
  gap: 2.4rem;
  background-color: #1f5128;
  background-color: rgba(31, 81, 40, 0.5);
  cursor: pointer;
  padding: 0 5rem;
  margin: 2rem;
  border-radius: 40px;
}
.titleFinal:hover,
.titleFinal:active {
  background-color: #061008;
}
.titleFinalActive {
  background-color: #061008;
}
.buttonAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  background-color: #4e9f3d;
  border: none;
  font-size: 2.4rem;
  border-radius: 50px;
  height: 3rem;
  width: 3rem;
}
.button:hover {
  background-color: #27501f;
}
.rel {
  position: relative;
}
.content {
  width: 50%;
}

@media (max-width: 850px) {
  .titleFinal {
    margin-bottom: 1.2rem;
    margin-top: 0;
  }
}
