.layout {
  margin: 5rem auto;
  width: 125rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 20rem;
  text-align: justify;
}
.bgImg {
  background: url("../../public/android_club.png");
  background-repeat: no-repeat;
  background-position: center 10rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(25, 26, 25, 0.8),
      rgba(25, 26, 25, 0.8)
    ),
    url("../../public/android_club.png");
}
